.inputGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  margin: 1rem auto;
  padding: 1rem 0 0.5rem 0;
}

input {
  height: 38px;
  border-radius: 0.25rem;
  border: 1px solid black;
}
